.Card__rectangle {
    max-width: 316px;
    height: 476px;
    background: #F2F2F2;
    background-image: url(../../../images/Photo.png);
    background-repeat: no-repeat;
    background-position: -30px 210px;
    border-radius: 12px;
    --mask: 
    linear-gradient(135deg,#0000 28.28px,#000 0);
    margin: 0 4px 4px 4px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
