.Card__rectangle {
    
    max-width: 320px;
    height: 480px;
    background: #F2F2F2;
    background-image: url(../../../images/Photo.png);
    background-repeat: no-repeat;
    background-position: -30px 210px;
    border: 4px solid #1698D9;
    border-radius: 12px;
}

.Card__rectangle:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid red;
    width: 0;
}