.Card__rectangle_border {
    width: 320px;
    height: 480px;
    background: #1698D9;
    border-radius: 12px;
    background-repeat: no-repeat;
    padding-top: 4px;
    --mask: 
    linear-gradient(135deg,#0000 28.28px,#000 0);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.Card__rectangle_red {
    background: #D91667;
}

.Card__rectangle_grey {
    background: #B3B3B3;
}