.Title {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0 auto 24px auto;
    padding-top: 36px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #000000;
    filter: drop-shadow(1px 0px 1px #000000);
}