.Main__elements {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 320px);
    column-gap: 80px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1119px) {
    .Main__elements {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}